* {
    margin :0;
    text-decoration: none;
}

header {
    background-color: #eb9b48;
    padding: 10px;
    color :white;
    text-align: center;
}

main {
    justify-self: center;
    width: 50%;
    margin : 10px;
    padding: 20px;
    border : solid 1px #eb9b48;
    border-radius: 10px;
}

footer {
    background-color: #eb9b48;
    padding: 10px;
    color: white;
    text-align: end;
}

ul  {
    padding :10px;
}
li {
    list-style: none;
}
